.main-title {
  font-weight: bold;
}

.main-body {
  margin: 20px;
}

.alerts {
  float: right;
}

.alerts * {
  margin: 0;
}

form {
  input {
    max-width: 300px;
  }

  label {
    display: block;
  }

  .hint {
    display: block;
    font-size: 0.9em;
  }
}